*.hex
*.cof
*.dbg
*.mcl
*.asm
*.dct
*.dcl
*.__ca
*.ini
*.log
*.txt
*.user
*.vcl
*.pwi
*.bak
*.DBK
*.BK*
*.ERR
*.LOG
Last\ Loaded\ *
*.idx
*.avw
*.smf
*.vsm
_Backup/
[Bb]ackup/
Thumbs.db
Desktop.ini
.DS_Store